{% extends 'layouts/_base.html.twig' %}

{% block title %}
	ورود به حساب مدیریت
{% endblock %}

{% block body %}
	<header class="bg-primary overflow-hidden w-full">
		<div class="max-w-2xl container mx-auto h-28 relative">
			<div class="h-28 w-40 absolute left-0">
				<img src="{{ asset('/build/images/flag.png') }}" alt="flag"/>
			</div>
		</div>
	</header>
	<main class="min-h-[calc(100vh_-_7rem)] container mx-auto">
		<div class="max-w-md bg-white mx-auto p-6 rounded-xl shadow-md -translate-y-8">
			<div class="flex flex-col items-center justify-center py-5">
				<svg width="101" height="36" viewbox="0 0 101 36" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M23.6388 15.0335H13.6082V12.1638C13.6137 11.8169 13.6895 11.4744 13.8313 11.1562C13.9731 10.838 14.1781 10.5503 14.4345 10.3098L16.9628 7.83515L17.1032 7.69006V11.656H19.1027C19.4597 11.6607 19.8121 11.7343 20.1397 11.8727C20.4673 12.011 20.7636 12.2114 21.0114 12.4621L23.6388 15.0335Z" fill="#042F2E"/>
					<path d="M97.2241 12.1558C97.1101 12.2683 97.02 12.4018 96.959 12.5484C96.8981 12.695 96.8674 12.852 96.8688 13.0102V29.8655H101V8.48003L97.2241 12.1558Z" fill="#042F2E"/>
					<path d="M80.1291 27.286L83.0044 30.0912H78.047C76.0316 30.0912 74.0985 29.3112 72.6719 27.9224C71.2453 26.5336 70.4416 24.6494 70.4373 22.6832V8.48003L74.2462 12.1961C74.4787 12.4226 74.6095 12.7299 74.6098 13.0505V23.8924C74.612 24.7918 74.9791 25.6537 75.631 26.2897C76.2829 26.9256 77.1664 27.2839 78.0883 27.286H80.1291Z" fill="#042F2E"/>
					<path d="M93.9852 16.4361V22.6671C93.9852 24.6361 93.1835 26.5244 91.7564 27.9167C90.3293 29.309 88.3937 30.0912 86.3755 30.0912H86.2433L83.368 27.286H86.3755C87.2974 27.2839 88.1809 26.9256 88.8328 26.2897C89.4846 25.6537 89.8518 24.7918 89.854 23.8924V20.4665L93.9852 16.4361Z" fill="#042F2E"/>
					<path d="M100.992 3.46618V0L91.6635 9.10071C90.504 10.2347 89.8532 11.7713 89.854 13.373V17.3147L93.9852 13.2843V12.4782C93.9876 11.4102 94.4245 10.3868 95.1998 9.63273L100.636 4.33674C100.752 4.22226 100.844 4.0862 100.905 3.93665C100.966 3.7871 100.995 3.62711 100.992 3.46618Z" fill="#042F2E"/>
					<path d="M67.1901 23.7553C67.0299 25.5019 66.1995 27.125 64.8651 28.2998C63.5307 29.4746 61.7908 30.1144 59.9935 30.0912H50.31C49.2698 30.0907 48.2409 29.8815 47.2871 29.4765C46.3334 29.0716 45.4752 28.4796 44.7659 27.7374C44.0566 28.4796 43.1984 29.0716 42.2446 29.4765C41.2908 29.8815 40.2619 30.0907 39.2218 30.0912H37.3545C36.3143 30.0907 35.2854 29.8815 34.3316 29.4765C33.3779 29.0716 32.5197 28.4796 31.8104 27.7374C31.1006 28.4802 30.2418 29.0726 29.2873 29.4776C28.3328 29.8826 27.303 30.0916 26.2621 30.0916C25.2213 30.0916 24.1915 29.8826 23.237 29.4776C22.2825 29.0726 21.4237 28.4802 20.7139 27.7374C19.3705 29.1436 17.519 29.9846 15.5512 30.0823C13.5835 30.1801 11.654 29.5271 10.1711 28.2613C9.63304 28.8384 8.9773 29.2992 8.24592 29.6143C7.51454 29.9295 6.72369 30.0919 5.92416 30.0912H0L2.52003 27.6729C2.75224 27.4461 3.06727 27.3185 3.39586 27.3182H4.07337C4.53048 27.3193 4.9833 27.2323 5.40582 27.0621C5.82834 26.8919 6.21224 26.642 6.53546 26.3267C6.85869 26.0113 7.11488 25.6368 7.2893 25.2246C7.46373 24.8123 7.55295 24.3706 7.55186 23.9246V17.9435L11.3278 21.6111C11.4418 21.7237 11.5319 21.8572 11.5928 22.0038C11.6538 22.1504 11.6845 22.3074 11.6831 22.4656V23.9327C11.6601 24.3928 11.7332 24.8527 11.8978 25.2844C12.0624 25.7162 12.3153 26.1108 12.6409 26.4443C12.9666 26.7779 13.3583 27.0434 13.7923 27.2249C14.2263 27.4063 14.6935 27.4999 15.1657 27.4999C15.6379 27.4999 16.1051 27.4063 16.5391 27.2249C16.9731 27.0434 17.3648 26.7779 17.6905 26.4443C18.0161 26.1108 18.2689 25.7162 18.4336 25.2844C18.5982 24.8527 18.6713 24.3928 18.6483 23.9327V17.9515L22.4242 21.6192C22.5382 21.7318 22.6283 21.8652 22.6893 22.0119C22.7503 22.1585 22.7809 22.3154 22.7795 22.4737V23.9327C22.7794 24.408 22.8814 24.8781 23.079 25.3126C23.2765 25.7471 23.5652 26.1364 23.9264 26.4554C24.2876 26.7744 24.7133 27.016 25.1761 27.1646C25.6389 27.3132 26.1285 27.3656 26.6133 27.3182C27.49 27.2073 28.294 26.7851 28.8717 26.1323C29.4494 25.4795 29.7602 24.6418 29.7448 23.7795V17.9515L33.5207 21.6192C33.6347 21.7318 33.7248 21.8652 33.7857 22.0119C33.8467 22.1585 33.8774 22.3154 33.876 22.4737V23.9407C33.876 24.8408 34.2425 25.704 34.8948 26.3404C35.5471 26.9768 36.4319 27.3344 37.3545 27.3344H39.2218C40.1437 27.3322 41.0272 26.974 41.679 26.338C42.3309 25.7021 42.6981 24.8401 42.7003 23.9407V17.9515L46.4762 21.6192C46.5902 21.7318 46.6803 21.8652 46.7412 22.0119C46.8022 22.1585 46.8329 22.3154 46.8315 22.4737V23.9407C46.8315 24.3864 46.9214 24.8277 47.0963 25.2394C47.2711 25.6511 47.5273 26.0253 47.8503 26.3404C48.1733 26.6555 48.5568 26.9055 48.9788 27.076C49.4008 27.2466 49.8532 27.3344 50.31 27.3344H58.8037C59.8416 27.3521 60.8495 26.9947 61.6336 26.331C62.4176 25.6673 62.9223 24.7442 63.0506 23.7392C63.0996 23.1863 63.0309 22.6294 62.849 22.1035C62.6671 21.5776 62.3758 21.0941 61.9934 20.6831C61.611 20.2722 61.1457 19.9428 60.6267 19.7155C60.1077 19.4882 59.5461 19.3679 58.9773 19.3622H53.0779L63.819 8.88308C64.0568 8.65456 64.3776 8.52706 64.7114 8.5284L68.1734 8.5687L60.0018 16.5409H60.2497C61.1992 16.5436 62.1382 16.7355 63.0091 17.1047C63.8799 17.474 64.6643 18.0129 65.3141 18.6884C65.964 19.3638 66.4655 20.1617 66.7881 21.033C67.1107 21.9043 67.2475 22.8306 67.1901 23.7553Z" fill="#042F2E"/>
					<path d="M73.3952 35.9998H78.6666C79.1321 36.0053 79.5936 35.9148 80.0208 35.7342C80.4479 35.5536 80.8312 35.287 81.1454 34.9519L83.0457 32.8963H77.766C77.2993 32.8929 76.8371 32.9859 76.4098 33.1693C75.9826 33.3527 75.6 33.6223 75.2873 33.9604L73.3952 35.9998Z" fill="#042F2E"/>
					<path d="M36.4539 35.9998H41.7253C42.1908 36.0053 42.6522 35.9148 43.0794 35.7342C43.5066 35.5536 43.8898 35.287 44.204 34.9519L46.1126 32.8963H40.833C40.3732 32.8985 39.9189 32.9943 39.4992 33.1775C39.0795 33.3607 38.7036 33.6274 38.3955 33.9604L36.4539 35.9998Z" fill="#042F2E"/>
				</svg>
				<div class="font-bold">
					سامانه تعمیر لوازم خانگی
					<div class="pt-0.5 text-sm">
						Home Appliance Repair System
					</div>
				</div>
			</div>
			<div class="text-center my-5 font-light text-sm">
				لطفا برای ورود شماره کارت یا کد ملی خود را در کادر پایین وارد کنید.
			</div>
			<div>
				<form action="#">
					<div>
						<label for="username" class="text-sm font-bold">شماره کارت / کد ملی</label>
						<input type="text" id="username" name="username" class="w-full border mt-3 border-line rounded-md py-2 focus:outline-none focus-within:border-textMain px-4"/>
					</div>
					<div>
						<button type="button" class="bg-primary mt-3 py-3 px-4 rounded-md hover:bg-primary/80 transition-all duration-200 w-full text-white">
							ورود
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="absolute bottom-0 left-1/2 -translate-x-1/2 z-0 max-w-xs">
			<img src="{{ asset('/build/images/map.png') }}" alt="iran"/>
		</div>
	</main>
{% endblock %}
